
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/lib/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-color: #F5F5F5
        }
    </style>
</head>

<body>

    <partial name="_navPartial" />

    <div class="container">
        @RenderBody()
    </div>

    <partial name="_footerPartial" />

</body>
</html>
